.style_table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    margin-bottom: 1em;
}

.style_table .table_content-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 71px;
}

.style_table .table_content-text p {
    width: 100%;
}
